# KiCad backups
*~
*.bak
*-backups/
_autosave-*
# KiCad cache / prefs
*.kicad_sexpr.bak
*.kicad_prl
fp-info-cache
__pycache__/
*.pyc
# OS files
.DS_Store
Thumbs.db
# Secrets
firmware/esphome/secrets.yaml
